/* ==============================
   Launching page animation
   ============================== */
   @keyframes rocket {
    0% {
        bottom: 0;
        opacity: 0;
    }
    100% {
        bottom: 105%;
        opacity: 1;
    }
   }