/* Color Pallate */
:root {
    --base-color--: linear-gradient(to left, #fad8d8, #fef0f0);
    --secondary-base--: linear-gradient(to left, #fff3f3, #f7c7c7);
    --icon-color--: #f5f5f5;
    --button--color--: linear-gradient(to right, #f7b0b0, #ee8b8b);
    --logo-color--: #ce6767;
    --para-color--: #777;
    --button-box-shadow--: 0 5px 15px rgba(238, 139, 139, 0.7);
    --heading-h1--: #333;
    --heading-h2--: #111;
    --dark-shadow--: 0 8px 20px rgba(0, 0, 0, 0.2);
    --border-color--: 1px solid #f3b6b6;
    --white-color--: #f7c9c9;
}
button {
    display: block;
}

.product-container {
    width: 100%;
    min-height: 100vh;
    background: var(--base-color--);
    display: flex;
    align-items: center;
    justify-content: center;
}
.product {
    width: 90%;
    max-width: 750px;
    display: flex;
    
}
.product-gallery {
    flex-basis: 47%;
    background: var(--heading-h2--);
    transform: scale(1.08);
    box-shadow: var(--dark-shadow--);
    position: relative;
}
.product-gallery img {
    width: 100%;
    display: block;
}
.product-gallery .controls {
    position: absolute;
    bottom: 40px;
    right: 20px;
}
.product-gallery .controls .btn {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
    background: var(--para-color--);
    opacity: 0.8;
}
.product-gallery .controls .btn.active {
    background: var(--logo-color--);
    opacity: 1;
    transform: scale(1.5);
    box-shadow: var(--button-box-shadow--);
}
.product-details {
    flex-basis: 53%;
    background: var(--secondary-base--);
    box-shadow: var(--dark-shadow--);
    padding: 40px 60px 40px 60px;
    font-size: 13px;
    font-weight: 500;
}
.product-details h1 {
    font-size: 35px;
}
.product-details h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
}
.product-details h3 {
    color: var(--logo-color--);
    margin-bottom: 20px;
}
.product-details form {
    font-size: 15px;
    font-weight: 400;
}

.product-details form p {
    width: 60px;
    margin: 0;
}
.size-select {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.size-select input:checked + span {
    color: var(--logo-color--);
}
.size-select input {
    display: none;
}
.size-select span {
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.color-select {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.color-select p {
    width: 60px;
}
.color-select span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.color-1 {
    background: red;
}
.color-2 {
    background: green;
}
.color-3 {
    background: orange;
}
.color-4 {
    background: blue;
}
.color-select input {
    display: none;
}
.color-select input:checked + span {
    transform: scale(1.5);
    box-shadow: var(--button-box-shadow--);
}
.quantity-select {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.quantity-select p {
    width: 60px;
}
.quantity-select input {
    background: var(--para-color--);
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    width: 50px;
    border-radius: 12px;
    cursor: pointer;
    color: var(--white-color--);
}
.product-details form button {
    background: var(--button--color--);
    color: var(--icon-color--);
    font-size: 17px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    margin-top: 50px;
    box-shadow: var(--button-box-shadow--);
    cursor: pointer;
}


/* Media Query */

@media (max-width:576px) {
    .product {
        flex-direction: column;
        margin: 170px 50px 170px 50px;
    }
    .product-details {
        padding: 60px 40px 40px 40px;
    }
    .product-details h1{
        font-size: 25px;
    }
    .product-details h2 {
        font-size: 18px;
    }
    .product-details form button {
        width: 90px;
        border-radius: 8px;
        margin: 0 auto;
        font-size: 17px;
        margin-top: 20px;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .product {
        flex-direction: column;
        margin: 170px 100px 170px 100px;
    }
    .product-details {
        padding-top: 70px;
    }
    .product-details h1 {
        font-size: 25px;
    }
    .product-details h2 {
        font-size: 18px;
    }
    .product-details form button {
        width: 120px;
        border-radius: 8px;
        margin: 0 auto;
        font-size: 20px;
        margin-top: 30px;
    }
    .product-details form p {
        width: 80px;
    }
}